.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); /* Adjusted height to account for header and footer */
  background: linear-gradient(180deg, rgba(235, 217, 173, 0.0768) 0%, rgba(252, 182, 3, 0.32) 100%);
}

.add-promotion__header-title {
  font-size: 35px;
  background: linear-gradient(90deg, rgba(170, 15, 242, 0.42) 0%, #62098C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.add-promotion {
  max-width: 600px;
  width: 40%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, rgba(248, 151, 5, 0.0684) 0%, rgba(248, 151, 5, 0.4503) 100%);
}

.add-promotion h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #9b59b6;
}

.add-promotion__form-group {
  width: 90%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-promotion__label {
  flex: 0 0 100px; /* Fixed width for labels */
  margin-right: 10px;
  font-weight: bold;
  color: #333;
  text-align: left; /* Align text to the left */
}

.add-promotion__input[type="text"],
.add-promotion__input[type="number"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.add-promotion__date-group {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 110px); /* Adjusted width to align with other inputs */
}

.add-promotion__input[type="text"] {
  width: 33%;
  padding: 10px; /* Padding for inputs */
  margin-right: 20px; /* Add space between inputs */
}

.add-promotion__input[type="text"]:last-child {
  margin-right: 0; /* Remove right margin for the last input */
}

.add-promotion__limit-group {
  display: flex;
  align-items: center;
}

.add-promotion__limit-group label {
  margin-right: 10px;
  font-weight: bold;
}

.add-promotion__radio {
  display: none;
}
.add-promotion__radio + .add-promotion__radio-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.add-promotion__radio + .add-promotion__radio-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  background: rgba(217, 217, 217, 1);
}

.add-promotion__radio:checked + .add-promotion__radio-label:before {
  background: rgba(217, 217, 217, 1);
}

.add-promotion__radio:checked + .add-promotion__radio-label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.add-promotion__button {
  width: 90%;
  padding: 15px;
  height: 40px;
  background: rgba(15, 242, 133, 1);
  color: white;
  border: none;
  border-radius: 15px;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 24px;
  margin: 0 auto; /* Center the button itself within its container */
}

.add-promotion__button:hover {
  background-color: #27ae60;
}
