
.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px);
  background: linear-gradient(180deg, rgba(235, 217, 173, 0.0768) 0%, rgba(252, 182, 3, 0.32) 100%);
  position: relative;
}

.promotionDetails {
  width: 100%;
  max-width: 600px;
  background: linear-gradient(180deg, rgba(248, 151, 5, 0.0684) 0%, rgba(248, 151, 5, 0.4503) 100%);
  border-radius: 15px;
  padding: 20px;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.promotionDetails div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 24px;
}
.addPromotion label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 28px; /* Set label font size */
}

.addPromotion input[type="text"],
.addPromotion input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 28px; /* Set input font size */
}

.promotionDetails h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  background: linear-gradient(90deg, rgba(170, 15, 242, 0.42) 0%, #62098C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.detailsForm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px 20px;
}

.detailsForm label {
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px; /* Adjust this to increase/decrease spacing */
}

.detailsForm input {
  border: none;
  background: none;
  color: #333;
  margin-bottom: 10px; /* Adjust this to increase/decrease spacing */
}

.detailsForm .highlight {
  color: red;
  font-weight: 900;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  grid-column: 1 / span 2;
}

.buttonGroup button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
}

.buttonGroup .editBtn {
  background-color: #4CAF50;
  color: white;
}

.buttonGroup .deleteBtn {
  background-color: #f44336;
  color: white;
}

.backBtn {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
}
