

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.inputlogin {
    width: 100%;
     height: 100%;
    padding: 20px;   
    display: flex;
    flex-direction: column;

}
.form-group{  
    width: 100%;
    height: 54px;
    padding: 10px;
    
}

.btn-primary {
    width: 100%;
    height: 100%;
    background: #7FD1EB;
}

.forgot-password {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #31ADD3;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-left: 60%;
}