

.outerContainer {
    background: linear-gradient(180deg, rgba(235, 217, 173, 0.0768) 0%, rgba(252, 182, 3, 0.32) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(248, 151, 5, 0.57);
    margin-bottom: 20px;
    border: 2px solid #000;
}

.headerRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.eclip {
    width: 92px;
    height: 92px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    margin-right: 20px;
}

.username {
    font-size: 32px;
    margin-right: 20px;
}

.myOrders {
    margin-left: 200px;
    font-weight: bold;
    font-size: 64px;
  
   /* background: linear-gradient(90deg, rgba(170, 15, 242, 0.41) 0%, #AA0FF2 100%);*/
   /* -webkit-text-fill-color: transparent;*/
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.selectButton {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    cursor: pointer;
}

.radiusButton {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    cursor: pointer;
}

.printButton {
    font-size: 28px;
    font-weight: 700;
    color: black;
    width: 193px;
    height: 49px;
    background: rgba(24, 79, 222, 1);
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.order {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.orderId {
    font-weight: 400;
    font-size: 24px;
    margin-right: 20px;
}

.orderImage {
    width: 37px;
    height: 35px;
    background-size: contain;
    border-radius: 15px;
    margin-left: 300px;
    margin-right: 20px;
}

.orderStatus {
    margin-right: 20px;
  /*  background: linear-gradient(90deg, rgba(27, 23, 229, 1) 0%, rgba(27, 23, 229, 1) 100%);
    -webkit-text-fill-color: transparent; */
}

.orderProcessing {
    margin-left: 250px;
    margin-right: 20px;
  /* background: linear-gradient(90deg, rgba(242, 15, 15, 1) 0%, rgba(242, 15, 15, 1) 100%);
    -webkit-text-fill-color: transparent; */
}

.orderLine {
    width: 100%;
    height: 1px;
    background: rgba(252, 182, 3, 1);
    margin: -13px 0 7px 0;
}

.orderLineFirst {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 1);
    margin: 20px 0;
}

.orderDetails {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.orderProductImage {
    width: 132.96px;
    height: 102px;
    background-size: cover;
    border: 1px solid rgba(252, 182, 3, 1);
    border-radius: 15px;
    margin-right: 20px;
}

.orderProductDescription {
    display: flex;
    flex-direction: column;
}

.orderProductName {
    font-size: 24px;
    margin-bottom: 10px;
}

.orderProductQuantity {
    font-size: 24px;
    margin-bottom: 10px;
}

.orderProductPrice {
    font-size: 24px;
    margin-left: 500px;
    margin-bottom: 10px;
}

.orderTotal {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 760px;
}

.totalPrice {
    font-size: 24px;
    margin-right: 40px;
}

.orderDetail {
    width: 400px;
    height: 82px;
    background: linear-gradient(90deg, rgba(170, 15, 242, 0.42) 0%, #AA0FF2 100%);
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: bold;
}

.detailButton {
    font-size: 28px;
    font-weight: bold;
    width: 197.7px;
    height: 42px;
    background: rgba(15, 242, 133, 1);
    border: 1px solid rgba(252, 182, 3, 1);
    border-radius: 15px;
    cursor: pointer;
    margin-left: 780px;
}

.orderContainer {
    width: 1054px;
    height: 280px;
    padding: 10px;
    background: rgba(248, 151, 5, 0.18);
    margin-bottom: 5px;
    border-radius: 15px;
}

.totalOrders {
    font-size: 32px;
    margin-left: 760px;
}

#headerPlaceholder,
#footerPlaceholder {
    width: 100%;
}
