html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header-placeholder {
    flex-shrink: 0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background: url('./background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#footer-placeholder {
    flex-shrink: 0;
}

.imglogin {
    display: none;
    /* Không hiển thị ảnh này vì đã dùng làm nền */
}

.forgotpassword {
    margin-top: 70px;
    margin-bottom: 100px;
    position: relative;
    width: 641px;
    height: 714px;
    text-align: center;
    background: #ffffff;
    padding: 20px;
    z-index: 1; /* Đảm bảo phần này nằm trên nền */
}

.textForgotpassword {
    position: relative;
    width: 191px;
    height: 29px;
    margin: 44px auto 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}

.textForgotpassword1 {
    position: relative;
    width: 336px;
    height: 48px;
    margin: 58px auto 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.iconForgotpassword {
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 184px;
    padding-top: 50px;
}

.materialIcons {
    width: 25px;
    height: 46px;
    opacity: 0.5;
}

.iconForgotpasswordText {
    width: 159px;
    height: 24px;
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    opacity: 0.5;
}

.inputUsername {
    /* Rectangle 4 */
    box-sizing: border-box;
    width: 528px;
    height: 54px;
    margin: 24px auto;
    background: #ffffff;
    border: 1px solid #000000;
}
.inputIconContainer {
    position: relative;
    display: inline-block;
}
.inputUsername {
    padding-left: 30px; /* Adjust based on the size of your icon */
}

.btnSend {
    display: flex;
    justify-content: center;
    width: 528px;
    height: 54px;
    margin: 20px auto;
    background-color: #7fd1eb !important;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #130d0d !important;
    font-size: 16px;
}
.btnCancel {
    /* CANCEL */
    width: 528px;
    height: 54px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #000000;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
