body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header-placeholder,
#footer-placeholder {
    width: 100%;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
}

.changepassword {
    width: 100%;
    max-width: 600px;
    height: 700px;
    padding: 20px;
    background: #ffffff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.changepassword-text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-icon,
.input-icon-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.input-icon {
    left: 10px;
}

.input-icon-right {
    right: 10px;
    cursor: pointer;
}

.form-control {
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #ccc;
}

.button-changepassword {
    width: 100%;
    background: #007bff; /* Updated button color */
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
}
