

#header-placeholder,
#footer-placeholder {
    width: 100%;
}

.change-password__container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
}

.change-password__content {
    width: 100%;
    max-width: 600px;
    height: 700px;
    padding: 20px;
    background: #ffffff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-password__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.change-password__input-group {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.change-password__input-icon,
.change-password__input-icon-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.change-password__input-icon {
    left: 10px;
}

.change-password__input-icon-right {
    right: 10px;
    cursor: pointer;
}

.change-password__form-control {
    width: 70%;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
}

.change-password__button {
    width: 100%;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
}
