.background-wrapper {
    position: relative;
    width: 100%;
    height: 1000px;
    background: url('../../../assets/backgroung_admin.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify {
    position: absolute;
    width: 641px;
    height: 714px;
    left: 500px;
    margin-top: -150px;
    background: linear-gradient(180deg, rgba(5, 204, 248, 0.71) 0%, rgba(170, 15, 242, 0.65) 100%);
    border-radius: 7px;
}

.verify h1 {
    position: absolute;
    width: 336px;
    height: 29px;
    left: 250px;
    top: 112px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.verify h2 {
    position: absolute;
    width: 426px;
    height: 24px;
    left: 130px;
    top: 143px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    opacity: 0.5;
}

.verify h3 {
    position: absolute;
    width: 213px;
    height: 24px;
    left: 223px;
    top: 202px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    opacity: 0.5;
}

.otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 499px;
    height: 60px;
    left: 73px;
    top: 247px;
}

.buttonverify {
    position: absolute;
    width: 341px;
    height: 61px;
    left: 150px;
    top: 357px;
    background: rgba(127, 209, 235, 1);
}

.buttonsendAgain {
    position: absolute;
    width: 341px;
    height: 61px;
    left: 151px;
    top: 458px;
    background: rgba(127, 209, 235, 1);
}

.otp-field input {
    height: 60px;
    width: 64px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
}

.otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

