

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.headerRow {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
}

.searchBar {
    margin-right: 100px;
    width: 588px;
    height: 72px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 10px;
    border-radius: 10px;
}

.filterIconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px; 
}

.filterIcon {
    width: 100px;
    height: 80px;
}

.searchIconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.searchIcon {
    width: 72px;
    height: 71px;
}

.searchText {
    font-size: 18px;
    color: #000;
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
}

.contractList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contractRow {
    padding: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 440px;
    background: rgba(245, 245, 245, 0.57);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contractImage {
    width: 184px;
    height: 146px;
    object-fit: cover;
    margin-bottom: 20px;
}

.contractDetails {
    text-align: center;
}

.contractPackage {
    font-size: 32px;
    font-weight: bold;
}
.contractCustomer,
.contractId {
    margin: 10px 0;
    font-size: 24px;
    margin-top: 40px;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background: #fff;
}

.pagination a:hover {
    background: #f2f2f2;
}
