
#header-placeholder,
#footer-placeholder,
#menuContainer {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  flex: 1;
}

#menuContainer {
  width: 250px;
  margin-right: 20px;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.help-center {
  background-color: #fff;
  padding: 40px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.help-center h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.help-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 20px 0;
}

.option {
  flex: 1;
  text-align: center;
  position: relative;
}

.option img {
  width: 150px;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.option p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.line {
  width: 1px;
  height: 150px;
  background-color: #000;
  align-self: stretch;
}

footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

body,
html {
  height: 100%;
}
