
.container {
    width: 1700px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(180deg, rgba(235, 217, 173, 0.0768) 45.1%, rgba(252, 182, 3, 0.32) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 530px;
}

.header-image {
    width: 48px;
    height: 39px;
    opacity: 0.5;
}

.back-button {
    margin-right: 100px;
    padding: 10px 20px;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 16px;
}

.main-content {
    margin-left: 150px;
    display: flex;
}

.left-sidebar {
    width: 300px;
    margin-right: 20px;
}

.user-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.eclip {
    width: 92px;
    height: 92px;
    border: 1px solid rgba(248, 151, 5, 0.57);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    margin-right: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 20px;
}

.user-id {
    font-weight: bold;

}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.menu-item i {
    margin-right: 10px;
}

.profile-container {
    margin-right: 15%;
    flex: 1;
    border-radius: 25px;
    padding: 20px;
    border: 1px solid rgba(248, 151, 5, 0.57);
    background: rgba(235, 217, 173, 0.0768);
}

.profile-header {
    display: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.profile-header h2 {
    font-size: 24px;
    margin: 0;
}

.membership-status {
    display: flex;
    align-items: center;
}

.membership-status img {
    width: 63px;
    height: 43px;
    margin-right: 10px;
}

.divider {
    border: 1px solid rgba(248, 151, 5, 0.57);
    margin: -20px 0px 50px -20px;

}

.profile-details {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
}

.detail-row {
    display: contents;
    
}

.detail-label {
    font-weight: 400;
    margin-bottom: 30px;

}

.detail-value {
    text-align: left;
}
