
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search-bar {
    width: 588px;
    height: 72px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 10px;
    border-radius: 10px;
}

.filter-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px; 
}

.search-icon {
    width: 72px;
    height: 71px;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
   /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 
}

.search-text {
    font-size: 18px;
    color: #000;
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
}

.search-icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.header-row {
    display: flex;
    align-items: center;
    margin: 20px 0;
 
}



.customer-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minimum and maximum width of each column */
    grid-gap: 20px;
}

.customer-container {
    background: linear-gradient(180deg, rgba(169, 170, 174, 0) 0%, rgba(148, 148, 148, 0.47) 100%);
    padding: 20px;
    width: 700px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    align-items: flex-start; 
}
.customer-info {
    display: flex;
    align-items: center; /* Align items vertically */
}

.customer-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background: rgba(255, 255, 255, 1);

}
.customer-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column; /* Display details in a column */
}

.customer-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.customer-dob{
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.customer-class {
    font-size:36px;
    margin-bottom: -500px;
    font-weight: bold;
    margin-left: -150px;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background: #fff;
}

.pagination a:hover {
    background: #f2f2f2;
}
.header-row {
    display: flex;
    align-items: center;
}
