

.footerContainer {
    width: 99%;
    max-width: 99%;
    min-width: 90%;
    height: 550px;
    border-radius: 30px 90px 30px 90px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #31add4 99.99%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.footerContainer h3,
.footerContainer p {
    font-size: calc(1vw + 10px);
}
.contactForm button {
    width: 100%;
}
.footerTop {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.topContainer {
    border-radius: 30px 90px 30px 90px;
    height: 180px;
    width: 1200px;
    background: rgba(5, 204, 248, 0.45);
}

.footerTop div {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.footerBottom {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.footerColumn {
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
}

.footerColumn h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footerColumn p {
    margin-bottom: 10px;
}

.contactInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contactInfo img {
    width: 70px;
    height: 45px;
    margin-right: 10px;
}

.socialIcons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: -10px;
}

.socialIcons img {
    margin-left: -10px;
    width: 51px;
    height: 57px;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.contactForm input,
.contactForm textarea {
    width: calc(50% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contactForm textarea {
    width: 100%;
    height: 100px;
}

.contactForm .fullWidth {
    width: 100%;
}

.contactForm button {
    padding: 10px 20px;
    background-color: #05ccf8;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
@media (max-width: 768px) {
    .footerTop div,
    .footerBottom .footerColumn {
        flex-basis: 50%;
    }

    .footerTop {
        flex-direction: row;
        text-align: center;
    }
}

/* Very small screens (Small smartphones) */
@media (max-width: 480px) {
    .footerTop div,
    .footerBottom .footerColumn {
        flex-basis: 100%;
    }

    .contactForm input[type='text'],
    .contactForm input[type='email'],
    .contactForm textarea {
        width: 100%;
    }

    .contactForm div {
        flex-direction: column;
    }
}
