

.header {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
}

.header__logo {
    width: 180px;
    height: 110px;
    object-fit: cover;
    margin-left: 20px;
}

.header__title {
    font-size: 36px;
    margin-left: 20px;
    color: #333;
}

.changepassword-container {
    width: 100%;
    height: calc(100% - 180px);
    background: rgba(127, 209, 235, 1);
    padding: 2%;
    box-sizing: border-box;
}

.changepassword {
    max-width: 800px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 7px;
    padding: 20px;
    height: 600px;
}

.changepassword__text {
    margin-top: 70px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.form-control {
    margin-left: 30px;
    width: 92%;
    height: 50px;
    margin-bottom: 40px;
}

.input-group {
    width: 96%;
    height: 50px;
    margin-bottom: 40px;
}

.changepassword__button {
    margin-left: 30px;
    background: rgba(127, 209, 235, 1);
    width: 92%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .changepassword-container {
        height: calc(100% - 180px);
    }
}
