/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .Container {
      width: 100%;
      height: 1000px;
      background: url('../../images/backgroung_admin.png');
      margin: auto;
    }
  
 
    .forgotpassword {
      margin-top: 70px;
      position: absolute;
      width: 641px;
      height: 714px;
      left: 600px;
      text-align: left;
      background: linear-gradient(180deg, rgba(5, 204, 248, 0.71) 0%, rgba(170, 15, 242, 0.65) 100%);
    }
    
    .text-forgotpassword {
      position: absolute;
      left: 45px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: flex-end;
      color: #000000;
    }
    .text-forgotpassword1 {
      position: absolute;
      width: 336px;
      height: 48px;
      left: 141px;
      top: 102px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
    }
    
    .icon-forgotpassword {
      position: absolute;
      display: flex;
      align-items: baseline;
      width: 184px;
      height: 46px;
      left: 45px;
      top: 210px;
    }
    
    .icon-forgotpassword i {
      margin-right: 10px;
      opacity: 0.5;
    }
    
    .icon-forgotpassword-text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: flex-end;
      color: #000000;
      opacity: 0.5;
    }
    .input-icon{
      position: absolute;
      transform: translateY(-50%);
      pointer-events: none;
      left: 55px;
      top:40%;
      width: 528px;
      height: 54px;
  }
    
    .input-username {
      width: 100%;
      height: 100%;
      padding-left: 40px; /* Để chừa khoảng trống cho icon */
      background: #ffffff;
      border: 1px solid #000000;
      box-sizing: border-box;
    }
    
    .custom-placeholder {
      position: absolute;
      left: 40px;
      top: 50px;
      transform: translateY(-50%);
      color: #624949;
      pointer-events: none;
      text-align: center;      
    }
    
    .button-send {
      position: absolute;
      width: 528px;
      height: 54px;
      left: 55px;
      top: 357px;
      background: rgba(127, 209, 235, 0.8);
      font-size: 24px;
    }
    
    .button-cancel {
      margin-left: 8px;
      font-size: 24px;
      background: rgba(127, 209, 235, 0.8);
      border: none;
      color: black;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      position: absolute;
      width: 528px;
      height: 54px;
      left: 46px;
      top: 452px;
    }
    .footer {
      width: 100%;   
      bottom: 0;
      text-align: center;
      background: rgba(127, 209, 235, 0.8);
  }