/* login_admin.css */
.background-wrapper {
    background: url('../../../assets//backgroung_admin.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  
  .login__container {
    padding: 60px;
    width: 650px;
    height: 700px;
    background: linear-gradient(
      180deg,
      rgba(5, 204, 248, 0.71) 0%,
      rgba(170, 15, 242, 0.65) 100%
    );
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0%;
    margin-top: 10%;
  }
  
  .login__container h2 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .login__form-group {
    height: 50px;
    width: 550px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 1);
  }
  
  .login__form-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  
  .login__form-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #aaa;
  }
  
  .login__form-group .login__toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .login__forgot-password {
    text-align: right;
  }
  
  .login__forgot-password a {
    color: white;
    text-decoration: none;
  }
  
  .login__forgot-password a:hover {
    text-decoration: underline;
  }
  
  .login__btn {
    margin-bottom: 200px;
    padding: 10px;
    font-size: 24px;
    background: rgba(127, 209, 235, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login__btn:hover {
    background: rgba(127, 209, 235, 0.8);
  }
  
  .footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    background: rgba(248, 151, 5, 0.57);
    padding-top: 30px;
  }
  